.title{
    display: flex;
    color: rgb(0, 0, 0);
    text-decoration: #180202;
    justify-content: space-around;
    flex-direction: unset;
    }
.title__bio{
    text-align: center;
    font-size:4rem;
    padding-top: 5rem;
    width: 76%;
    color: #061541;
    margin-left: 3rem;
}
    .title__div{
        display: contents;
        justify-content: space-between;
        align-items: flex-start;
    }

    .title__network{
        display: flex;
        color: rgb(0, 0, 0);
        margin-right: 15px;
        margin-left: 13px;   
        width: 70px;
        height: 50px;
    }
    .title__network__item{
        margin: 30px;
        padding: 20px;
    }
    .title__network__item a{
        color: rgb(7, 7, 7);
    }
    .title__network__item:hover{
        transform: scale(1.5);
        transition: 0.5s;
    }

    .title__subsection{
        font-family: sans-serif;
        text-align: center;
        margin: 17% 10% 5% 5%;
    }
    h3{
        cursor: pointer;
    }
    h3:hover{
        color: #807878;
        transition: 0.1s;
    }
    .title__profile{
        width: 20%;
        height: 20%;
        border-radius: 40%;
        border-color: black;
    }